<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="store-details">
    <img src="/images/profiles/profile.png" class="img-p">
        <h1><%=user.fullname%></h1>
       
        

</div>
<hr>
<div class="my-p">
    <div class="search-div">
        <h3>Você Comprou</h3>
        <% products.forEach(p =>{ %>
     
            <div class="search-p" onclick="location.href='/page/product/<%=p.id%>'">
                <img src="/images/products/<%=p.img%>" class="img-search">
                <div class="details-product" >
                <h4><%=p.name_product%> </h4>
               
                <h3 class="pricing">R$ <%=p.pricing%></h3>
                <p style="color: green;font-size: 18px; font-weight: bolder;"><%=p.status_paid%></p>
                
            
            </div> 
          
            </div>
         
        
           <%})%>
        
               
    </div>
   
</div>


<%- include('../partials/footer.ejs') %>