<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="card-page-productd">
    <%if(payments[0] == undefined){%>
        <h1>Você Não Gerou nenhum Pagamento</h1>
   <%} else {%>

   
    <table>
        <th>ID Do Pagamento</th>
        <th>ID Do Produto</th>
        <th>Preço</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Pagar</th>
        <% payments.forEach(p =>{ %>
        <tr>
        <td><%= p.id%></td>
        <td><%= p.id_product%></td>
        <td>R$<%= p.pricing%></td>
        <% if (p.paid_out == 1) { %>
            <td style="color: green; font-weight: bolder;"><%= p.status_paid%></td>
        <% } else { %>
            <td><%= p.status_paid%></td>
        <% } %>
        
        <td><%= p.payment_type%></td>
        <% if (p.paid_out == 1) { %>
            <td></td>
        <% } else { %>
            <td><a class="btn-pay "href="<%= p.payment_url%>">Pagar</a></td>
        <% } %>
       
        </tr>
        <%})%>
        
    </table>
    <%}%>
      
           
    
       
</div>

<%- include('../partials/footer.ejs') %>